.limit-button {
  font-size: 14px;
  width: 186px;
  border: 1px solid #e5e9eb;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
}

.paper {
  position: absolute;
  bottom: 75px;
  width: 186px;
  background: #fff;
  border: 1px solid gray;
  border-radius: 16px;
  z-index: 20;
  overflow: hidden;
  .list {
    padding: 0;
    overflow: hidden;
    .item {
      border: 0;
      outline: 0;
      font-weight: 200;
      font-size: 16px;
      cursor: pointer;
      line-height: 20px;
      display: flex;
      justify-content: space-between;
      padding: 16px 16px;
      &:hover {
        background: #f9f9f9;
      }
    }
  }
}
