.pictureInput {
  position: relative;
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    left: 100%;
    // object-fit: cover;
  }
}
.picturePreviewLabel {
  cursor: pointer;
  display: flex;
  border: 1px dashed rgba($color: #000000, $alpha: 0.12);
  height: 180px;
  width: 100%;
  border-radius: 8px;
  label {
    display: flex;
    width: 100%;
    height: 100%;
  }
  .filePrevwiewInput {
    position: relative;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    overflow: hidden;
    word-break: keep-all;
    p {
      width: 500px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      font-size: 13px;
    }
    .leftSide {
      // height: 100%;
      // display: flex;
      // align-items: center;
      // flex: 1 1 70%;
      // width: 70%;
      // color: rgba($color: #000000, $alpha: 0.4);
      // pointer-events: none;
    }
    .rightSide {
      height: 100%;
      display: flex;
      align-items: center;
      padding: 0 16px;
      flex: 1 1 30%;
      width: 30%;
      border-left: 1px solid rgba($color: #000000, $alpha: 0.12);
      cursor: pointer;
    }
  }
}
.root {
  .row {
    background-color: #fff;
    border-radius: 6px;
    height: 100%;
    .body {
      height: 100%;
      padding: 20px 0;
      .btnGroup {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        .btn {
          text-transform: none;
          background-color: var(--primary-color);
          color: #fff;
        }
      }
    }
  }
}
.input__block {
  cursor: pointer;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
  color: #252c32;
  & > * {
    text-align: center;
  }
  .addBtn {
    color: #252c32;
    padding: 8px 0px;
    
  }
  .downloadBtn {
    span {
      color: #252c32;
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 40px;
      padding: 8px 16px;
      border: 1px solid #dde2e4;
      border-radius: 6px;
      cursor: pointer;
      transition: all 0.3ms;
      &:active {
        position: relative;
        top: 2px;
      }
      &:hover {
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
      }
    }
  }
}

.clearBtn {
  cursor: pointer;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 10;
}

.block {
  position: relative;
}
