@use "/src/scss/colors";

.button {
  padding: 8px 20px;
  outline: none;
  border: 1px solid;
  cursor: pointer;
  border-radius: 8px;
  font-weight: 500;
  font-size: 16px;
  transition-duration: 0.3s;
  line-height: 24px;

  &.primary {
    background-color: colors.$primary;
    border-color: colors.$primary;
    color: #fff;

    &:hover {
      background-color: colors.$primary-hover;
    }
  }

  &.secondary {
    background-color: #fff;
    border-color: colors.$borders;
    color: colors.$primary;

    &:hover {
      border-color: colors.$primary;
    }
  }
}
