@use "../../scss/colors";

.errorMessageContainer {
  min-height: 14px;
}
.inputCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 40px;
  // align-items: center;
  .innerInput,
  .errorText {
    display: flex;
    align-items: center;
  }

  .label {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 4px;
  }
  .icon {
    padding: 12px 10px;
    background-color: colors.$primary;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    height: 40px;
    color: #fff;
    margin-left: -5px;
    z-index: 10;
    border-left: 1px solid #b5bfc5;
    cursor: pointer;
    display: flex;
    align-items: center;
    span {
      margin-left: 10px;
    }
  }
}
.radioGroup {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .radioGroupLabel {
    display: block;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 4px;
  }
}
.dateField {
  position: relative;
  height: 40px;
  border-width: 1px;
  border-radius: 0.5rem;
  cursor: default;
  // border-color: hsl(0, 0%, 80%);
  background-color: hsl(0, 0%, 100%);
  border: 1px solid rgba(229, 231, 235);
  display: flex;
  align-items: center;
  border-style: solid;
  outline: none;
  position: relative;
  width: 100%;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  :hover {
    border: 1px solid rgba(64, 148, 247, 1);
  }
}

.select {
  margin-top: 12px;
}
label {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
