@use "/src/scss/colors";

%cardText{
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: colors.$second-color;
}

.card{
    padding: 0px; 
    height: 100%;

    .cardItem{
        display: flex;
        align-items: center;
        gap: 12px;
        position: relative;
        &:not(:last-child){
            margin-bottom: 20px;
        }
        &:not(:first-child) .title{
            color: #00000080;
        }
        .title{
            font-size: 12px;
            font-weight: 400;
            line-height: 18px;
            
        }
        .price{
            font-size: 15px;
            line-height: 22.5px;
            font-weight: 600;
        }
        .footerText{
            color: #00000066;
            position: absolute;
            bottom: -150%;
            left: 0px;
        }
    }
}


.serviceTitle{
    font-size: 18px;
    font-weight: 600;
    line-height: 21px;
    margin-bottom: 16px;
    margin-top: 68px;
}

.serviceBlock{
    padding: 0px;
    transition: .2s ease-in;
    height: 100%;
    &:hover{
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }
}

.serviceCard{
    display: flex;
    gap: 14px;
    align-items: center;
    justify-content: space-between;
    .text{
        text-align: end;
        width: 140px;
        @extend %cardText
        
    }
}

.serviceType{
    font-family: Montserrat;
font-size: 14px;
font-weight: 400;
line-height: 16px;
letter-spacing: 0em;
text-align: left;
color: #00000066;
margin-bottom: 8px;

}

.savedServiceCard{
    display: flex;
    justify-content: space-between;
    align-items: center;
    svg{
        margin-left: 30px;
    }
    .cardInner{
        text-align: end;
        
        div{
            width: 165px;
            @extend %cardText
        }
    }
}

.anotherServices{
    color: colors.$second-color;
    font-weight: 500;
    font-size: 18px;
    text-align: end;
    cursor: pointer;
}