.BackButton {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  cursor: pointer;
  background-color: transparent;
  transition-duration: 0.3s;
  // border: 1px solid silver;
  border: none;

  .icon {
    font-size: 19px;
  }

  &:hover {
    border-color: #0067f4;
    color: #0067f4;
  }
}
