@use "/src/scss/colors";

.header {
  height: 129px;
  background-color: #eef4ff;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 36px;
  box-shadow: 0px 1px 15px rgba(16, 45, 66, 0.06);

  &.sticky {
    position: sticky;
    top: 0;
    z-index: 3;
  }

  .leftSide {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 24px;
    svg {
      cursor: pointer;
    }
    .icon {
      font-size: 22px;
      margin-right: 8px;
      color: colors.$primary;
    }

    .titleBlock {
      .title {
        font-size: 20px;
        font-weight: 600;
        line-height: 24px;
      }

      .subtitle {
        font-size: 15px;
        font-weight: 500;
        color: gray;
      }
    }

    .line {
      height: calc(100% - 32px);
      width: 1px;
      background-color: colors.$borders;
      margin: 0 24px;
    }
  }

  .rightSide {
    display: flex;
    gap: 52px;
    .address {
      text-align: end;
      .addressTitle {
        line-height: 24px;
        font-size: 16px;
        font-weight: 600;
        color: colors.$primary;
        margin-bottom: 3px;
      }
      .location {
        color: colors.$primary;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
      }
    }
    .infoBlock {
      display: flex;
      text-align: end;
      align-items: center;
      gap: 12px;
      .name {
        line-height: 24px;
        font-size: 16px;
        font-weight: 600;
        color: colors.$primary;
        margin-bottom: 3px;
      }
      img {
        border-radius: 50%;
        object-fit: cover;
      }
    }
  }
}
