@use "/src/scss/colors";

.layout {
  height: 100vh;
  width: 100%;
  overflow-y: auto;

  .header {
    background-color: #005fc4;
    padding: 25px 95px;
    display: flex;
    align-items: center;
    gap: 15px;
    span {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 700;
      font-size: 28px;
      line-height: 34px;
      text-align: center;
      color: #ffffff;
    }
  }
  .container {
    padding: 70px 230px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    h2 {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 700;
      font-size: 36px;
      line-height: 44px;
      text-align: center;
      color: #012145;
      width: 800px;
    }
    .userIcon {
      width: 370px;
      height: 370px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      p {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 600;
        font-size: 36px;
        line-height: 44px;
        text-align: center;
        color: #012145;
      }
    }
    .authButton {
      box-shadow: 0px 5px 10px rgba(11, 40, 113, 0.2);
      border-radius: 15px;
      padding: 25px 50px;
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 600;
      font-size: 36px;
      line-height: 44px;
      text-align: center;
      color: #ffffff;
    }
  }
}
