
@use '/src/scss/colors';

.sidebar {
  display: flex;
  background-color: colors.$side-color;
  padding-left: 9px;
  position: relative;
  .header {
    display: flex;
    align-items: center;
    gap: 5px;
    // height: 56px;
    background-color: colors.$side-color;
    padding-top: 43px;
    // padding-left: 20px;
    .logo {
      cursor: pointer;
      width: 51px;
      height: 51px;
    }
    .title{
      font-size: 24px;
      line-height: 29px;
      font-weight: 700;
      color: white;
    }
  }
  .arrowIcon{
    padding-top: 34px;
    width: 100%;
    text-align: end;
    cursor: pointer;

  }
 
}

.leftSide {
  width: 56px;
  box-shadow: inset -1px 0px 0px rgba(229, 233, 235, 0.75);
  // height: 100%;
  display: flex;
  flex-direction: column;
  // padding-left: 15px;

  .menuItemsBlock {
    flex: 1;
    overflow: auto;
    display: flex;
    flex-direction: column;
    // align-items: center;
    padding: 8px 9px 10px 0;
   
    gap: 10px;
    background-color: colors.$side-color;
    .item{
      display: flex;
      align-items: center;
      border-top-left-radius: 13px;
      border-bottom-left-radius: 13px;
      gap: 16px;
      svg{
        flex: none
      }
      .text{
        color: white;
        font-weight: 600;
        font-size: 14px;
        line-height: 16px;
      }
    }
  }

  .footer {
    // display: flex;
    flex-direction: column;
    // align-items: center;
    padding: 10px;
    gap: 5px;
    background-color: colors.$side-color;
    position: absolute;
    bottom: 0;
    left: -4px;
    .footer_text{
      color: white;
      width: 212px;
      padding-left: 25px;
      font-size: 12px;
      font-weight: 400;
    }
  }

  .menuItem {
    height: 45px;
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
    color: colors.$grey;
    display: flex;
    align-items: center;
    padding-left: 16px;
    // padding: 15px 0px 15px 23px;
    cursor: pointer;
    &.active {
      color: #fff;
      background-color: colors.$page-background;
    }
  }


}

.rightSide {
  width: 240px;
  box-shadow: inset -1px 0px 0px rgba(229, 233, 235, 0.75);

  .header {
    // height: 56px;
    display: flex;
    align-items: center;
    padding: 0 12px;
    // box-shadow: inset 0px -1px 0px #E5E9EB;
    background-color: colors.$side-color;
    color: white;
    padding-top: 46px;
    .title {
      flex: 1;
    }

    .closeButton {
      width: 32px;
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #6E8BB71A;
      border-radius: 6px;
      transition-duration: .1s;
      cursor: pointer;

      &:hover {
        background-color: colors.$primary;
        color: #fff;

      }
    }
  }

  .menuItemsBlock {
    height: calc(100vh - 56px);
    padding: 10px 0;
    margin-left: -10px;
    gap: 5px;
    background-color: colors.$side-color;
    

    .menuItem {
      // border-radius: 6px;
      padding: 8px 12px;
      font-size: 14px;
      font-weight: 500;
      line-height: 24px;
      color: colors.$grey;
      cursor: pointer;
      display: block;

      &.active {
        color: #fff;
        background-color: colors.$primary;
      }
    }
  }

}

