.uploadBox {
  border: 1px solid #d5dadd;
  border-radius: 6px;
  border-style: dashed;
  height: 164px;
  justify-content: center;
  display: flex;
  align-items: center;
  .upload_button {
    background: #fff;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    border-radius: 6px;
    border: 1px solid #dde2e4;
    padding: 8px 16px;
    cursor: pointer;
  }
}

.customPdf {
  width: 100%;
  background: white;
  padding: 40px 75px;
  margin: 0 auto;
}
.flexBetweenStart {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.bold {
  font-size: 14px;
  font-weight: bold;
}
.reactPdf {
  margin: 0 auto;
  width: 80% !important;
  height: 100% !important;
}
.actCard {
  padding: 2mm;
  border-radius: 10px;
  width: 270px;
}
.betweenCard {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  .actCard {
    padding: 2mm;
    border-radius: 10px;
    width: 270px;
  }
}
