@use "/src/scss/colors";

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

html {
  font-size: 0.8rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  text-decoration: none;
}

.container {
  margin: 32px;
}

.MuiInputBase-root {
  border-radius: 6px !important;
}

.MuiButtonBase-root-MuiPaginationItem-root {
  opacity: 1;
}

.bold {
  font-weight: 700;
  font-size: 16px;
}
