@use "/src/scss/colors";

.page {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 60px;
  height: 100vh;
  overflow-y: auto;

  .title {
    font-weight: 700;
    font-size: 48px;
    text-align: center;
    margin-bottom: 20px;
  }

  .subtitle {
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    line-height: 24px;
    margin-bottom: 48px;
  }

  .typeSwitchRow {
    display: flex;
    align-items: center;
    gap: 32px;
    margin-bottom: 48px;

    .typeSwitchButton {
      padding: 15px 24px;
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border: 1.5px solid rgba(0, 0, 0, 0.08);
      border-radius: 6px;
      cursor: pointer;
      transition-duration: 0.3s;

      &.active {
        border-color: colors.$primary;
        color: colors.$primary;

        &:hover {
          border-color: colors.$primary;
        }
      }

      &:hover {
        border-color: #000;
      }
    }
  }

  .form {
    flex: 1;
    display: flex;
    flex-direction: column;

    .formArea {
      flex: 1;

      .formRow {
        .label {
          font-weight: 600;
          margin-bottom: 12px;
        }
        margin-bottom: 20px;
      }
    }

    .buttonsArea {
      display: flex;
      flex-direction: column;
      gap: 18px;
    }
  }
}

.publickOfferRow {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 0;
  box-shadow: inset 0px -1px 0px #E5E9EB;

  .nameBlock {
    flex: 1;

    .fileName {
      line-height: 24px;
    }

    .fileSize {
      color: #84919a;
    }
  }
}

.checkboxLabel {
  color: colors.$grey;
}
