

.CBreadcrumbs-wrapper {
  display: flex;
  align-items: center;
  margin: 48px 32px 0px 32px;
  line-height: 8px;
}

.CBreadcrumbs {

  .breadcrumb-item {
    display: flex;
    align-items: center;
  
    &.link {
      cursor: pointer;

      &:hover {
        color: #0067F4;

        .breadcrumb-label {
          color: #0067F4;
        }
      }
    }
  }
  
  .breadcrumb-label {
    // margin-left: 35px;
    font-size: 18px;
    // color: #637281;
    font-weight: 600;
    white-space: pre-wrap;
    color: black;
    margin-right: 35px;
   
  }

  &.small {
    .breadcrumb-label {
      margin-left: 0px;
      font-size: 14px;
      font-weight: 400;
    }
  }

  .MuiBreadcrumbs-separator {
    display: none;
  }
}